<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/landing.css">
    <div class="jumbotron">
       <h1 class="display-4">Hall Of Fame</h1>
       <p class="lead">The ultimate place for football fans to share memories of their greatest idols</p>
       <hr class="my-4">
       <a class="btn btn-sm" href="/players" role="button">View All Players</a>
    </div>
<% include partials/footer %>