.container {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-section {
    padding: 20px;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
}

h1 {
    font-size: 1.5em;
}

a .back-button {
    color: #fff;
}